@media screen and (max-width:419px) {
  *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  img{
    height: 100px;
  }
  .row{
    float: none;
    width: 100%;
    margin-top: 0;
  }
  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    padding: 20px 10px;
    width: 100%;
    float: none;
  }
  #lezioni,
  #why{
    background-color: rgb(242, 242, 205);
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  .row h1{
    padding-top: 15px;
  }
}